@import url("FuturaPT-Medium/style.css");
@import url("style_header_footer.css");
@import url("style_loader.css");

body {
		margin: 0; 
		font-family: 'Futura PT', sans-serif;
		font-size: 16px;
		box-sizing: border-box;
		background: var(--body-background-color);
	}

	.main {
		margin: 0 12.5%;
		background: var(--primiry-background-color);
		min-height: 100vh;
	}

	.film-wrapper {
		margin: 0 auto;
		width: 95%;
		color: var(--primiry-text-color);
		font-size: 20px;
		padding: 50px 0;
	}

	.film-wrapper .main-info {
		width: 100%;
		display: grid;
		gap: 30px;
		grid-template-columns: 1fr 1.5fr;
	}

	.main-info .film-cover {
		width: 100%;
		object-fit: cover;
		border-radius: 20px;
		grid-column: 1/2;
	}

	.main-info .about-film {
		list-style-type: none;
		padding-inline-start: 0;
	}

	.main-info .episode-number,
	.main-info .episode-title {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 24px;
		color: var(--text-highlight);
	}

	.description {
		grid-column: 2/3;
	}

	.description h2 {
		color: #5043af
	}

	.about-film li {
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
	}

	.about-film li span:first-child {
		display: inline-block;
		width: 30%;
		color:rgb(134, 130, 130);
	}

	.main-info .film-text {
		grid-column: 1/3;
		grid-row: 2/3;
		font-size: 22px;
		line-height: 1.5;
	}

	.trailer-container {
		display: flex;
		justify-content: center;
	}

	.trailer {
		margin: 30px auto;
		width: 708px;
		height: 425px;
	}

	.main-characters {
		width: 100%;
		margin: 0 auto 60px;
		position: relative;
	}

	.main-characters-title {
		display: none;
	}

	.main-characters-title.show {
		display: block;
	}

	.characters {
		font-size: 12px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 25px;
		padding-inline-start: 0;
	}

	.characters .character {
		box-shadow: 0px 1px 2px 0px var(--neon-border),
            1px 2px 4px 0px var(--neon-border),
            2px 4px 8px 0px var(--neon-border),
            2px 4px 16px 0px var(--neon-border);

		border-radius: 10px;
		background: var(--character-background);
	}
	
	.characters .character a {
		padding: 15px 0;
		width: 100%;
		text-decoration: none;
		color: var(--primiry-text-color);
		display: flex;
		flex: 0 1 auto;
		margin-right: 10px;
		gap: 10px;
		font-size: 14px;
	}

	.character-description {
		width: 100%;
	}

	.character-description div {
		width: 90%;
		display: flex;
		justify-content: space-between;
		text-transform: capitalize;
	}

	.characters .character-photo {
		vertical-align: top;
		padding-left: 5px;
		width: 40%;
		height: 150px;
		object-fit: cover;
	}

	.character-description .name {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 20px;
	}

	.character-description .homeworld span:first-child,
	.character-description .born span:first-child,
	.character-description .species span:first-child {
		color:rgb(134, 130, 130);
	}

	.loader.show {
		display: block;
	}
	
	.loader {
		display: none;
		position: absolute;
		bottom: -64px;
		left: calc(50% - 32px);
		width: 64px;
		height: 64px;
		border-radius: 50%;
		perspective: 800px;
	}
	
	#loadMore {
		display: none;
		text-decoration: none;
		color: var(--secondary-text-color);
		padding: 10px 30px;
		margin: 30px auto 0;
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		letter-spacing: 2px;
		background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
		background-size: 200% auto;
		box-shadow: 0 0 20px rgba(0, 0, 0, .1);
		transition: .5s;
		cursor: pointer;
	}

	#loadMore.show {
		display: block;
	}

	.gradient-button:hover {
		background-position: right center;
	}

	.more-films {
		margin: 30px auto 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		gap: 20px;
	}

	.title-films {
		margin-left: 10%;
		color: var(--primiry-text-color);
		
	}

	.film {
		width: 25%;
	}

	.more-films .film-img {
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	.film a {
		text-decoration: none;
		color: var(--primiry-text-color);
		font-size: 22px;
	}


	@media only all and (max-width: 1440px) {

		.main {
			margin: 0;
		}	
	}

	@media only all and (max-width: 1024px) {

		.film-wrapper {
			font-size: 18px;
		}

		.main-info .episode-number,
		.main-info .episode-title {
			font-size: 20px;
		}

		.main-info .film-text {
			font-size: 18px;
			line-height: 1.4;
		}

		.trailer {
			width: 500px;
			height: 300px;
		}

		.characters {
			grid-template-columns: repeat(3, 1fr);
		}
		
		.film {
			width: 40%;
		}
	}

	@media only all and (max-width: 640px) {

		.film-wrapper {
			font-size: 16px;
		}

		.main-info .episode-number,
		.main-info .episode-title {
			font-size: 18px;
		}

		.main-info .film-text {
			font-size: 16px;
		}

		.trailer {
			width: 417px;
			height: 250px;
		}

		.characters {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media only all and (max-width: 425px) {

		.film-wrapper .main-info {
			grid-template-columns: 1fr;
		}
		
		.description {
			grid-column: 1/2;
			grid-row: 2/3;
		}

		.main-info .film-text {
			grid-column: 1/2;
			grid-row: 3/4;
		}

		.trailer {
			display: none;
		}

		.characters {
			grid-template-columns: 1fr;
		}

		.characters .character {
			width: 90%;
			margin: 0 auto;
		}

		.more-films {
			justify-content: center;
		}

		.film {
			width: 90%;
		}

		#loadMore {
			padding: 10px 10px;
		}
	}