:root {
	--header-footer-color: black;
	--primiry-background-color: rgb(20, 20, 20, 0.95);
	--body-background-color: linear-gradient(90deg, #000000,#4f7a28,#000000);
	--primiry-text-color: azure;
	--secondary-text-color: white;
	--table-border: rgba(255, 255, 255, 0.5);
	--text-highlight: #d6bb00;
	--character-background: rgb(20, 20, 20, 0.95);
	--neon-border: rgba(0,255,255,0.7);
	--loader-color: #EFEFFA;
	--film-boxshadow: #eaeaea;
	--color-scheme-icon: url(../images/moon-active.svg);
}

:root[theme='light'] {
	--header-footer-color: #b2c1d8;
	--primiry-background-color: #d1d9e7;
	--body-background-color: linear-gradient(90deg, #f6f7f8,#e1e8f2,#d9e1ee);
	--primiry-text-color: rgba(8, 8, 8, 0.95);
	--secondary-text-color: black;
	--table-border: rgba(8, 8, 8, 0.50);
	--text-highlight: #008B8B;
	--character-background: rgba(231, 218, 218, 0.699);
	--neon-border: rgba( 188,19,254,0.7);
	--loader-color: #222224;
	--film-boxshadow: #070707;
	--color-scheme-icon: url(../images/sun-active.svg);
}


.header {
	height: 100px;
	background-color: var(--header-footer-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 10;
}

.header .logo img {
	width: 75px;
	height: 75px;
	margin-left: 100px;
	margin-top: 10px;
}

.header .search-bar {
	margin: 0 10%;
	width: 60%;
}

#search_input {
	color: white;
	font-size: 20px;
	width: 100%;
	min-height: 40px;
	border-radius: 15px;
	border: 0;
	background: url('../images/icon_search.svg') rgb(165, 160, 160) no-repeat 98% 50%;
	background-size: 20px;
	padding: 0 30px 0 15px;
}

#search_input:focus {
	color: black;
	outline: none;
	background: white;
}

.settings {
	display: flex;
	align-items: center;
	width: 40%;
}

#toggle-theme {
	width: 30px;
	height: 30px;
	font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border-radius: 5px;
	background: var(--color-scheme-icon) no-repeat 50% 50% rgb(0, 0, 0, 0.95);
	background-size: 75%;
	color: var(--primiry-text-color);
    padding: 5px;
	position: absolute;
	top: 35px;
	right: 230px;
	box-shadow: 2px 2px 2px 1px rgba(245, 245, 245, 0.5);
	cursor: pointer;
}

#toggle-theme:hover {
	background-color: rgb(39, 37, 37);
}

.lang-select {
	appearance: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	flex: 1;
	padding: 0 1em;
	color: #fff;
	background-color: #473C8B;
	background-image: none;
	cursor: pointer;
}

.lang-select::-ms-expand {
	display: none;
}

.localization {
	display: flex;
	position: absolute;
  	top: 35px;
  	right: 160px;
	width: 60px;
	height: 30px;
	border-radius: .25em;
	overflow: hidden;
	box-shadow: 2px 2px 2px 1px rgba(245, 245, 245, 0.5);
}
 
.localization::after {
	content: '\25BC';
	position: absolute;
	top: 5px;
	right: 0;
	padding-right: 5px;
	background-color: #473C8B;
	transition: .25s all ease;
	pointer-events: none;
}

.localization:hover::after {
	color: #f39c12;
}

.favorites-films-container {
	display: flex;
	flex-direction: column;
	width: 130px;
	position: absolute;
	top: 29px;
	right: 20px;
	z-index: 5;
}

.favorites-films.opened {
	display: flex;
}

.favorites-films {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.favorite-film {
	width: 95%;
	min-height: 30px;
	background-image: linear-gradient(90deg, #29004c,#5317ab,#644dd9,#0858b3);
	border: solid 1px #01faff;
	border-radius: 5px;
	margin-top: 5px;
}

.favorite-film a {
	display: inline-block;
	text-decoration: none;
	color: white;
	vertical-align: middle;
	font-size: 14px;
	padding: 5px;
}

#btn-favorites {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	margin: 0 auto 0;
	border-radius: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-image: linear-gradient(90deg, #29004c,#5317ab,#644dd9,#01faff);
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: .5s;
	cursor: pointer;
}

.footer {
	height: 100px;
	background-color:var(--header-footer-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.copyright-text {
	color: white;
	font-size: 24px;
	margin: 20px 0;
}

.social-icon {
	width: 20%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* @media only all and (max-width: 1440px) {
} */

@media only all and (max-width: 1024px) {

	.header {
		display: grid;
		grid-template-columns: 75px 1fr;
		grid-template-rows: 70px auto;
		min-height: 150px;
	}

	.header .logo img {
		margin-top: 15px;
		margin-left: 30px;
		width: 60px;
		height: 60px;
	}

	.header .search-bar {
		margin: 0 auto;
		width: 80%;
		grid-column: 1/3;
		grid-row: 2/3;
	}

	.settings {
		grid-column: 2/3;
		grid-row: 1/2;
	}
}

@media only all and (max-width: 640px) {

	.header .search-bar {
		margin: 0 auto;
		width: 70%;
	}

	.social-icon {
		width: 40%;
	}

	.copyright-text {
		font-size: 20px;
	}

}

@media only all and (max-width: 425px) {

	.header .logo img {
		width: 50px;
		height: 50px;
		margin-left: 10px;
	}

	#toggle-theme {
		top:25px;
		right: 200px;
	}

	.localization {
		top:25px;
		right: 130px;
	}

	.favorites-films-container {
		width: 110px;
		font-size: 14px;
		top: 21px;
		right: 10px;
	}

	#btn-favorites {
		padding: 5px 5px;
		font-size: 12px;
	}

	.header .search-bar {
		margin: 0 10%;
		width: 60%;
	}

	.settings {
		justify-content: center;
	}

	.copyright-text {
		font-size: 16px;
	}
}