:root {
	--header-footer-color: black;
	--primiry-background-color: rgb(0, 0, 0, 0.95);
	--body-background-color: linear-gradient(90deg, #f6f7f8,#e1e8f2,#d9e1ee);
	--primiry-text-color: azure;
	--secondary-text-color: white;
	--table-border: rgba(255, 255, 255, 0.5);
	--theme-btn-background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	--text-highlight: #d6bb00;
	--character-background: rgb(0, 0, 0, 0.95);
	--neon-border: rgba(0,255,255,0.7);
	--loader-color: #EFEFFA;
}

:root[theme='light'] {
	--header-footer-color: #212517;
	--primiry-background-color: #d1d9e7;
	--body-background-color: linear-gradient(90deg, #000000,#4f7a28,#000000);
	--primiry-text-color: rgba(8, 8, 8, 0.95);
	--secondary-text-color: black;
	--table-border: rgba(8, 8, 8, 0.50);
	--theme-btn-background: #d3deff;
	--text-highlight: #41ac26;
	--character-background: rgba(231, 218, 218, 0.699);
	--neon-border: rgba( 188,19,254,0.7);
	--loader-color: #222224;
}


.header {
	height: 100px;
	background-color: var(--header-footer-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 10;
}

.header .logo img {
	width: 75px;
	height: 75px;
	margin-left: 100px;
	margin-top: 10px;
}

.header .search-bar {
	margin: 0 10%;
	width: 60%;
}

#search_input {
	color: white;
	font-size: 20px;
	width: 100%;
	min-height: 40px;
	border-radius: 15px;
	border: 0;
	background: url('../images/icon_search.svg') rgb(165, 160, 160) no-repeat 98% 50%;
	background-size: 20px;
	padding-right: 30px;
}

#search_input:focus {
	color: black;
	outline: none;
	background: white;
}

.settings {
	display: flex;
	align-items: center;
	width: 40%;
}

#toggle-theme {
	width: 80px;
	height: 30px;
	font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border-radius: 5px;
	background-color: var(--theme-btn-background);
	color: var(--primiry-text-color);
    padding: 5px;
	position: absolute;
	top: 33px;
	right: 220px;
}

.lang-select {
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 33px;
  right: 160px;
  background-color: #d3deff;
  font-weight: bold;
}

.lang-select:active, .lang-select:focus{
	background-color: red;	
}

.favorites-films-container {
	display: flex;
	flex-direction: column;
	width: 130px;
	position: absolute;
	top: 29px;
	right: 20px;
	z-index: 5;
}

.favorites-films.opened {
	display: flex;
}

.favorites-films {
	display: none;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.favorite-film {
	width: 95%;
	min-height: 30px;
	background-image: linear-gradient(90deg, #29004c,#5317ab,#644dd9,#01faff);
	border: solid 1px #01faff;
	border-radius: 5px;
	margin-top: 5px;
}

.favorite-film a {
	text-decoration: none;
	text-align: center;
	color: white;
	vertical-align: middle;
	font-size: 14px;
	padding: 0 5px;
}

#btn-favorites {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	margin: 0 auto 0;
	border-radius: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-image: linear-gradient(90deg, #29004c,#5317ab,#644dd9,#01faff);
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: .5s;
	cursor: pointer;
}

.footer {
	height: 100px;
	background-color:var(--header-footer-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.copyright-text {
	color: white;
	font-size: 24px;
	margin: 20px 0;
}

.social-icon {
	width: 20%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* @media only all and (max-width: 1440px) {
} */

@media only all and (max-width: 1024px) {

	.header {
		display: grid;
		grid-template-columns: 75px 1fr;
		grid-template-rows: 70px auto;
		min-height: 150px;
	}

	.header .logo img {
		margin-top: 15px;
		margin-left: 30px;
		width: 60px;
		height: 60px;
	}

	.header .search-bar {
		margin: 0 auto;
		width: 80%;
		grid-column: 1/3;
		grid-row: 2/3;
	}

	.settings {
		grid-column: 2/3;
		grid-row: 1/2;
	}
}

@media only all and (max-width: 640px) {

	.header .search-bar {
		margin: 0 auto;
	}

	.social-icon {
		width: 40%;
	}

}

@media only all and (max-width: 425px) {

	.header .logo img {
		margin-left: 10px;
	}

	#toggle-theme {
		width: 50px;
		right: 175px;
	}

	 .lang-select {
		width: 50px;
		right: 120px;
	}

	.favorites-films-container {
		width: 110px;
		font-size: 14px;
		top: 29px;
		right: 5px;
	}

	#btn-favorites {
		padding: 5px 5px;
		font-size: 12px;
	}

	.header .search-bar {
		margin: 0 10%;
		width: 60%;
	}

	.settings {
		justify-content: center;
	}
}